.logo {
  background-color: var(--color-f5f5f7);
  padding: 60px 17px !important;
  padding-bottom: 0 !important;
  //   margin-top: 70px ;
  .logo_white {
    background-color: white;
    padding: 0 !important;
  }
}
