:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-ffc107: #ffc107;
  --color-232f3e: #232f3e;
  --color-212529: #212529;
  --color-febd69: #febd69;
  --color-1c1b1b: #1c1b1b;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
}

.product_card {
  padding: 50px 0;
  background-color: var(--color-f5f5f7);
  .product_grid {
    gap: 17px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .grid_4 {
    gap: 17px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .grid_3 {
    gap: 17px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  .grid_2 {
    gap: 17px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .col_wrapper {
    position: relative;

    .card {
      .hover_image {
        display: none;
      }
      &:hover .hover_image {
        display: block;
      }
      &:hover .normal_image {
        display: none;
      }

      .wishlist {
        top: 5px;
        right: 10px;
        button {
          border: none;
          font-size: 18px;
          border-radius: 50%;
          background-color: transparent;
          padding: 2px 5px;
          margin: auto;
          text-align: center;
          vertical-align: baseline;
          align-items: center;
          &:hover {
            background-color: var(--color-febd69);
          }
        }
      }
    }
    .card:hover .product_hover {
      display: block;
      opacity: 1;
    }
    .product_hover {
      position: absolute;
      top: 40px;
      right: 5px;
      display: none;
      opacity: 0;
      transition: 0.3s;
      button {
        font-size: 18px;
        border-radius: 50%;
        &:hover {
          background-color: var(--color-febd69);
        }
      }
    }
    .card-body {
      .brand {
        color: #bf4800;
        line-height: 24px;
        font-weight: 400;
        margin: 0 0 12px;
        opacity: 1;
        font-size: 13px;
      }
      .card-title {
        a {
          font-size: 15px;
          line-height: 22px;
          font-weight: 500;
          color: #1c1b1b;
        }
      }
      .rating {
        margin: 10px 0;
      }
      .regular_price {
        text-decoration: line-through;
      }
      .sale_price {
        color: #e02b40;
        margin-left: 10px;
      }
    }
  }
}
