:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-ffc107: #ffc107;
  --color-232f3e: #232f3e;
  --color-212529: #212529;
  --color-febd69: #febd69;
  --color-1c1b1b: #1c1b1b;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-e02b40: #e02b40;
}

#Login {
  padding: 80px 0;
  background-color: var(--color-f5f5f7);
  .card {
    border: none;
    .card-body {
      .card-title {
        font-weight: 400;
        letter-spacing: 0.06rem;
        color: var(--color-777777);
        line-height: 1.3;
        text-transform: capitalize;
        font-size: 19px;
        font-weight: 500;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .form-floating {
        .form-control {
          background-color: var(--color-f5f5f7);
          color: var(--color-777777);
          border-radius: none !important;
          border: none;
          // padding-top: 8px;
          // padding-bottom: 8px;
          padding: 0 !important;
          font-size: 14px;
          line-height: 24px;
          &:focus {
            display: inline-block;
            border-color: inherit;
            outline: none;
            border: none;
            box-shadow: none;
          }
        }
        .labe_tag {
          label {
          }
        }
        label {
          font-size: 14px;
          margin-bottom: 0;
          pointer-events: none;
          position: absolute;
          padding: 10px 0.75rem !important;
          color: var(--color-foreground-75);
          letter-spacing: 0.1rem;
          line-height: 24px;
          background-color: transparent !important;
          &:active {
            background-color: red;
          }
        }
      }
    }
  }
}
